@import url('https://fonts.googleapis.com/css?family=Lexend+Deca|Oxygen:300&display=swap');

body {
  background-color: #e6f2ff;
}

h1 {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 40px;
  text-align: center;
}

.todo, p {
  font-family: 'Oxygen', sans-serif;
  font-size: 24px;
}

p {
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f2f2f2;
  border-width: 4px;
}

.add {
  font-size: 22px;
}

ul {
  list-style: none;
}
